.nav-link {
    color:black;
}

#banner{
    display: flex;
    height: 300px;
    background: gray;
    justify-content: center;
    align-items: center;
}

/* #servico{
    display: flex;
    justify-content: space-between;
}
#servico .row div {
    background:white;
    color:black;
} */

/*#sobre{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}*/